RewriteEngine On
RewriteRule ^$ homepageAgenzia.php [NC,L]
# Gestisce l'eliminazione di un record
RewriteRule ^api/([a-zA-Z0-9_-]+)/delete/([0-9]+)$ api.php?tabella=$1&delete=$2 [NC,L,QSA]

# Riscrive url con formato api/tabella/id in api.php?tabella=tabella&id=id
RewriteRule ^api/([a-zA-Z0-9_-]+)/([0-9]+)$ api.php?tabella=$1&id=$2 [NC,L,QSA]

# Riscrive url con formato api/tabella in api.php?tabella=tabella
RewriteRule ^api/([a-zA-Z0-9_-]+)/?$ api.php?tabella=$1 [NC,L,QSA]

# Regole generali per altri percorsi non gestiti sopra
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^\.]+)$ $1.php [NC,L]